@media screen and (max-width : 767px)
{
    #refer{
        display:none;
    }
    .notify{
        display: none;
    }
    .second img{
        margin-right:5px;
        box-sizing: border-box;
    }
    .prblm{
        display:none;
    }
    .location{
        display: none;
    }
    .retain{
        display: flex;
        margin-top:20px;
        margin-bottom: 50px;
        width:95vw;
        margin-left:10px;
    }
    .gap{
        margin-left:20px;
        margin-right:20px;
    }
    .dot{
        display:flex;
        align-items: center;
        /* background-color: rgba(30, 26, 26, 0.256); */
    }
    .content{
        display:flex;
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
    }
    .category{
        display:none;
    }
    .prob{
        width:auto;
        height:auto;
    }
    .prob button{
        width:auto;
    }
    main{
        margin:5px;
        box-sizing: border-box;
    }
    .relat{
        order:9;
    }
}