* {
    padding: 0;
    margin: 0;
}

img:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    height: 64px;
    position: fixed;
    top:0px;
}

#logo {
    height: 38px;
    width: 216px;
    padding: 0px 16px 0px 32px;
    box-sizing: border-box;
}

#refer {
    display: flex;
    gap: 20px;
    margin-left: 30px;
    box-sizing: border-box;
    text-align: center;
}

@media(max-width:768px) {
    #refer {
        display: none;
    }
}

.link {
    height: 32px;
    position: relative;
    top: 10px;
    text-transform: capitalize;
    font-size: small;
    font-weight: 100;
}

.link:hover {
    color: blue;
    border-bottom: 3px solid blue;
}

#left {
    display: flex;
    gap: 32px;
    margin-right: 16px;
    margin-left: auto;
    box-sizing: border-box;
    align-items: center;
}

#notify {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#notify:hover {
    background-color: rgb(189, 189, 248);
}

#prob {
    height: 32px;
    width: 168px;
    padding: 3px;
    background-color: rgba(23, 213, 213, 0.805);
    border-radius: 10px;
}

#exp {
    display: flex;
    align-items: center;
    height: 32px;
    width: 168px;
    padding: 3px 4px 3px 19px;
    border-radius: 10px;
    background-color: rgb(255, 205, 141);
}

#exp:hover {
    border: 1px solid rgb(17, 24, 165);
}

#points {
    display: flex;
    align-items: center;
    height: 24px;
    width: 76px;
    padding: 3px 4px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: auto;
}

@media(max-width:768px) {
    header button {
        display: none;
    }
}







main{
    background-color:#f1f1f1;
}

.location {
    display: flex;
    margin-top:90px;
    margin-bottom: 30px;
    width: 100%;
    margin-left: 10px;
    box-sizing: border-box;
}

.arrow {
    margin-left: 16px;
    margin-right: 16px;
    box-sizing: border-box;
}

#dot {
    background-color: rgb(176, 164, 164);
    border-radius: 4px;
    width: 20px;
    line-height: 70%;
    display: flex;
    justify-content: center;
}

b:hover {
    cursor: pointer;
}

@media(min-width:768px){
    main{
        padding-left:150px;
        box-sizing: border-box;
    }
    .location {
        padding-top: 40px;
        padding-bottom: 40px;
        box-sizing: border-box;
    }
}





.material {
    display: grid;
    grid-template-columns: 230px auto;
    grid-template-rows: 48px 183px auto auto;
    gap: 20px;
    margin-left: 10px;
    box-sizing: border-box;
}


.category {
    background-color: rgb(110, 110, 241);
    border-radius: 10px;
    grid-row: 1/2;
    grid-column: 1/3;
}

@media(min-width:768px) {
    .category {
        grid-column: 1/2;
    }
}



.problem {
    display: flex;
    flex-direction: column;
    background-color: blue;
    border-radius: 10px;
    padding-left: 16px;
    box-sizing: border-box;
    justify-content: space-around;
    grid-row: 2/3;
    grid-column: 1/3;
}

@media(min-width:768px) {
    .problem {
        border-radius: 5px;
        grid-column: 1/2;
    }
}

#day {
    color: white;
    font-size: 130%;
}

#consistent {
    color: rgb(244, 169, 71);
}

#company {
    height: 22px;
    width: 100px;
}

.problem button {
    width: 90%;
    background-color: rgb(255, 172, 64);
    height: 32px;
    border-radius: 8px;
}



.relate {
    grid-column: 1/3;
    grid-row: 4/5;
}

@media (min-width:768px) {
    .relate {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

.relate h2 {
    margin-bottom: 18px;
}

.relate ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: disc;
}

.link1 {
    background-color: #fff;
    height: 42px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    list-style-type: disc;
    width: 100%;
}

.link1:hover {
    cursor: pointer;
}


.topic {
    background-color: #fff;
    grid-row: 3/4;
    grid-column: 1/3;
    border-radius: 12px;
    padding: 16px;
    box-sizing: border-box;
}

@media(min-width:768px) {
    .topic {
        grid-row: 1/5;
        grid-column: 2/3;
    }
}

.topic h1 {
    font-size: 260%;
}

.contri {
    background-color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#name {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

#name img {
    border-radius: 50%;
    height: 46px;
}

.topic ol {
    list-style: inside;
    list-style-type: decimal;
}

#row {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

#links {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-right: 14px;
    box-sizing: border-box;
}

.article {
    display: flex;
    justify-content: space-between;
}

.prev,
.next {
    display: flex;
    flex-direction: column;
}
footer{
    margin-left:40px;
    box-sizing: border-box;
}
@media(min-width:768px) {
    footer {
        margin-left: 50px;
        margin-right: 50px;
        padding: 30px;
        display: flex;
        gap: 30px;
    }
}
